<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../static/home.css">
</head>
<body>
  <header>
    <nav>
      <a href="/" class="logo">Mon logo</a>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/panier">Panier</a></li>
        <li><a href="/commandes">Commandes</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Inscription</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="recherche">
      <input type="text" placeholder="Rechercher un article">
      <button id="button-search">Chercher</button>
    </section>
    <section class="articles">
    {% for product in products %}
      <article class="article">
        <img src="image-article.jpg" alt="Image de l'article">
        <h3>{{ product[5] }}</h3> <!-- Assuming Nom_Article is at index 5 -->
        <p>{{ product[4] }}</p>    <!-- Assuming Marque is at index 4 -->
        <span class="prix">{{ product[3] }}€</span> <!-- Assuming prix is at index 3 -->
        <a href="/article/{{ product[0] }}">Voir l'article</a> <!-- Assuming id_Article is at index 0 -->
      </article>
    {% endfor %}
  </section>
  </main>
  <script src="../script/home.js"></script>
</body>
</html>
