<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panier</title>
  <script type="text/javascript" src="../static/api.js"></script>
  <link rel="stylesheet" href="../static/panier.css">
</head>
<body>
  <header>
    <nav>
      <a href="/" class="logo">Mon logo</a>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/panier">Panier</a></li>
        <li><a href="/commandes">Commandes</a></li>
        <li><a href="/signup">Inscription</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="panier">
      <h1>Votre panier</h1>
      <table class="table-panier">
        <thead>
          <tr>
            <th>Article</th>
            <th>Quantité</th>
            <th>Prix</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td>{{ product.article_name }}</td>  <td>{{ product.quantity }}</td>
            <td>{{ product.total_price }}€</td>  </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="total">
        <span>Total:</span>
        <span class="prix-total">--€</span>  </div>
      <button type="button" class="commander">Commander</button>
    </section>
  </main>
</body>
</html>
